{% extends 'users/base.html' %}
{% load static %}
{% block body %}
    <main class="container pb-2">
        <div class="login-form col-md-4 border mx-auto my-5">
            <h2 class="text-center my-4">Log In</h2>
              <form class="mb-3  mx-4">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
                  </div>
                     <input type="email" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1">
                </div>  
                <div class="input-group mb-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-lock"></i></span>
                  </div>
                    <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                </div>  
                <div class="text-center">
                  <input class="btn btn-primary btn-login" type="submit" name="submit" value="Login">
                </div>                    
              </form>
              <div class="text-center mb-5">  
                <a href="#">Forgot Your Password?</a>
              </div>       
      </div>
    </main>

{% endblock %}